:root {
    --darkblue: #175873;
    --sand: #f9f1ee;
}

body {
    background-color: var(--sand);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

p {
    text-align: center;
    font-size: 18pt;
    color: var(--darkblue);
}

body {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    background-position: -80% 40%;
    background-size: 120%;
}

.preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 0px solid white;
    border-radius: 50px;
}